@model ConfigService.Models.ConfigStorageViewModel
@{
    ViewData["Title"] = "Config list";
}

<p>
    <ul class="list-group list-group-flush">
        @foreach (var cfg in Model.Configs)
        {
            <li class="list-group-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Config" asp-action="Index" asp-route-id="@cfg">@cfg</a>
            </li>
        }
    </ul>
</p>