@model MyLab.ConfigServer.Models.ConfigStorageViewModel

@{
    ViewBag.Title = "Overrides list";
    Layout = "_Layout";
}

<div class="container">
    <div class="col-6 offset-3">
        <p>
            <ul class="list-group list-group-flush">
                @foreach (var cfg in Model.Configs)
                {
                    <li class="list-group-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Override" asp-action="Details" asp-route-id="@cfg">@cfg</a>
                    </li>
                }
            </ul>
        </p>
    </div>
</div>