@page "/base-configs/{id}"
@using MyLab.ConfigServer.Shared
@inject IConfigServiceV2 Service

@if (_config != null)
{
    <div class="d-flex flex-column">
        <div>
            <JsonPresenter Content="@_config.ConfigInfo.Content"/>
        </div>
        <div>
            <SecretsReport Secrets="@_config.ConfigInfo.Secrets"/>
        </div>
        <BackToList/>
    </div>
}
else
{
    <p>Details loading...</p>
}

@code {
    [Parameter]
    public string Id { get; set; }

    [CascadingParameter]
    public MainLayout Layout { get; set; }

    private ConfigViewModel _config;

    protected override async Task OnInitializedAsync()
    {
        _config = await Service.GetBaseConfigDetails(Id);
        Layout.Title = "Base Configurations / " + Id;
    }

}
